<launch>
  <arg name="ft_sensor_a_name"                 default="ft_sensor0"/>
  <node name="bus0" pkg="rokubimini_ethercat" type="rokubimini_ethercat_bus_manager_node" launch-prefix="ethercat_grant" output="screen" required="true">
    <param name="num_spinners"                              type="int"      value="1"/>
    <param name="time_step"                                 type="double"   value="0.01"/>
    <param name="ethercat_bus"  type="string"   value="enxd8eb97bf2f1a"/>
    <param name="rokubiminis/$(arg ft_sensor_a_name)/name" type="string" value="$(arg ft_sensor_a_name)"/>
    <param name="rokubiminis/$(arg ft_sensor_a_name)/product_name" type="string" value="BFT-SENS-ECAT-M8-REALSENSE"/>
    <rosparam ns="rokubiminis/$(arg ft_sensor_a_name)" command="load" file="$(find bota_demo)/config/rokubimini_sensor.yaml" />
    <param name="rokubiminis/$(arg ft_sensor_a_name)/ethercat_address" type="int"   value="1"/>
    <remap from="/bus0/ft_sensor0/ft_sensor_readings/imu" to="/imu/data_raw"/>
  </node>

    <include file="$(find bota_demo)/launch/bota_demo.launch">
        <arg name="sensor" value="BFT_SENS_ECAT_M8_robot_realsense" />
        <arg name="imu" value="true" />
    </include>
</launch>