<launch>
  <arg name="launch_prefix_gdb" default="" />
  <arg name="ft_sensor_a_name"                 default="ft_sensor0"/>
  <arg name="imu"                              default="false" />
  <node name="bus0" launch-prefix="$(arg launch_prefix_gdb)" pkg="rokubimini_serial" type="rokubimini_serial_bus_manager_node"  output="screen" required="true">
    <param name="num_spinners"                              type="int"      value="1"/>
<!--    The time_step parameter sets the ROS publishing frequency, not the sensor update rate -->
<!--    If no time_step is set, the topic is published with the frequency of the sensor. -->
<!--    <param name="time_step"                                 type="double"   value="0.01"/>-->
    <param name="port"  type="string"   value="/dev/ttyUSB0"/>
    <param name="rokubiminis/$(arg ft_sensor_a_name)/name" type="string" value="$(arg ft_sensor_a_name)"/>
    <param name="rokubiminis/$(arg ft_sensor_a_name)/product_name" type="string" value="BFT-SENS-SER-M8"/>
    <rosparam ns="rokubiminis/$(arg ft_sensor_a_name)" command="load" file="$(find bota_demo)/config/rokubimini_sensor.yaml" />
  </node>

    <node if="$(arg imu)" pkg="bota_demo" type="imu_msg_publisher.py" name="gravity_publisher" output="screen">
      <param name="world_frame" value="world" />
    </node>

    <include file="$(find bota_demo)/launch/bota_demo.launch">
        <arg name="sensor" value="BFT_SENS_SER_M8_robot" />
        <arg name="imu" value="$(arg imu)" />
    </include>
</launch>